
.dashboard__header {
  background-color: var(--navy-blue);
  border-bottom: none;
  color: white;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.dashboard__nav {
  background-color: var(--navy-blue);
  color: white;
  box-shadow: none; 
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
}

.dashboard__nav ul {
  padding-left: 10px;
}

.dashboard__nav li {
  border: none;
}

.dashboard__nav a{
  white-space: nowrap;
  opacity: 1;
  color: white;
  transition: .5s ease-in all;
}

.dashboard__nav.nav--closed a{
  opacity: 0;
  transition: .2s ease-in all;
}
