body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

:root {
  font-size: 22px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white);
}

.intro-content {
  width: 100%;
  position: absolute;
  z-index: 5;
  max-width: 28rem;
  min-width: 28rem;
}

.intro-content p {
  font-size: 0.75rem;
}

.intro-buttons {
  display: flex;
  max-width: 9rem;
}

.intro-buttons button {
  flex: 1;
}

.intro-buttons button:nth-last-child(n + 2) {
  margin-right: 0.2rem;
}

.canvas-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.particles {
  -webkit-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
