body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  background: #000;
}

.logo-wrapper {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 5;
}

.logo-wrapper img {
  width: 225px;
  opacity: 0;
  transform: scale(0.8);
  padding: 0.5rem 2.5rem;
}

.particles {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
