.paginate {
  display: flex;
  align-items: center;
}

.paginate button:not(:last-child) {
  margin-right: var(--space1);
}

.paginate-button {
  border: 1px solid var(--gray5);
  color: var(--gray);
  background-color: #fff;
  background-image: none;
  opacity: 1;
  max-width: 2.0rem;
}

.paginate-button:hover, .active-page, .primary-outline[disabled] {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: #fff;
  background-image: none;
  opacity: 1;
}

.skip-page-option {
  margin-right: var(--space1);
  color: var(--gray5);
  transition: all 0.25s;
  padding: 0 0.25em;
  height: 2.0em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.skip-page-option:hover {
  color: var(--primary);
  cursor: pointer;
}

.display-none {
  display: none;
}